<p id="notice"><%= notice %></p>

<h1>Wedding guests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weddingguests.each do |weddingguest| %>
      <tr>
        <td><%= weddingguest.name %></td>
        <td><%= weddingguest.description %></td>
        <td><%= image_tag(weddingguest.picture_url) if weddingguest.picture.present? %></td>
        <td><%= link_to 'Show', weddingguest %></td>
        <td><%= link_to 'Edit', edit_weddingguest_path(weddingguest) %></td>
        <td><%= link_to 'Destroy', weddingguest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weddingguest', new_weddingguest_path %>
